<footer class="footer" id="footerFix">
  <div class="container">
    <div class="row">
      <nav class="footer-nav col-6 " >
        <ul>
          <li><a href="https://oumaimakboubi.webipie.me">My CV website</a></li>
        </ul>
      </nav>
      <div class="credits  col-6">
              <span class="copyright">
                  © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> for The Tunisian Scouts Memory Center
              </span>
      </div>
    </div>
  </div>
</footer>
