<div class="card" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="card-header card-header-danger">
    <h1 class="card-title" style="color: orangered;font-weight: bold; margin-top: 10px;margin-left: 10px ">Edit an article</h1>
    <p class="card-category">Feel free to be creative <i class="fa fa-smile-o"></i></p>
  </div>
  <div class="card-body">
    <form class="register-form" [formGroup]="editReactiveForm" (ngSubmit)="onSubmit()">

      <label>Title</label>
      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
        <div class="input-group-prepend">
                              <span class="input-group-text">
                              <i class="fa fa-pencil" style="margin-top: 5px;"></i>
                              </span>
        </div>
        <input type="text" class="form-control" name="title" placeholder="Your title" (focus)="focus=true"
               (blur)="focus=false" formControlName="title">


      </div>

      <div>
        <span
        style="color:red"
        *ngIf="!editReactiveForm.get('title').valid "
        >The title is required</span>
      </div>
      <label>Content</label>
      <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
        <div class="input-group-prepend">
                              <span class="input-group-text">
                                   <i class="fa fa-book" style="margin-top: 5px;"></i>
                              </span>
        </div>
        <textarea type="text" class="form-control" name="content" placeholder="Your article's content goes here"
                  formControlName="content" (focus)="focus1=true" (blur)="focus1=false"></textarea>

      </div>
      <div>
        <span
          style="color:red"
          *ngIf="!editReactiveForm.get('content').valid "
        >The title is required</span>
      </div>

      <button class="btn btn-danger  btn-block btn-round " style=" margin-left:36%;" type="button" (click)="onSubmit()" [disabled]="!editReactiveForm.valid">
        Apply Edits
      </button>
        <button class="btn btn-close-white  btn-block btn-round " style=" margin-left:36%;" type="button" (click)="onReset()" >
        Reset
      </button>

    </form>
  </div>
</div>
